<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Market <span [innerHTML]="marketSymbol"></span></h1>
</div>

<app-graph [id]="'marketChart'" [data]="data" [labels]="labels" *ngIf="active"></app-graph>

<div class="row m-5">
  <div class="col-4">
    <h2>Sell orders</h2>
    <app-data-table [columns]="columns" [getData]="getSellOrdersData"></app-data-table>
  </div>

  <div class="col-4">
    <h2>Buy orders</h2>
    <app-data-table [columns]="columns" [getData]="getBuyOrdersData"></app-data-table>
  </div>

  <div class="col-4">
    <h2>Create order</h2>
    <div class="d-grid mt-3">
      <button type="button" class="d-grid btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#exampleModal">New</button>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Order</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-pills mb-3 nav-fill" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-buy-tab" data-bs-toggle="pill" data-bs-target="#pills-buy"
              type="button" role="tab" aria-controls="pills-buy" aria-selected="true">Buy</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-sell-tab" data-bs-toggle="pill" data-bs-target="#pills-sell"
              type="button" role="tab" aria-controls="pills-sell" aria-selected="false">Sell</button>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-buy" role="tabpanel" aria-labelledby="pills-buy-tab">
            <form>
              <div class="row">
                <div class="col-6 mb-3">
                  <label for="newSellOrderAmount" class="form-label">Amount</label>
                  <div class="input-group mb-3">
                    <input id="newSellOrderAmount" type="number" class="form-control" value="0.000001">
                    <span class="input-group-text">BTC</span>
                  </div>
                </div>
                <div class="col-6 mb-3">
                  <label for="newSellOrderPrice" class="form-label">Price</label>
                  <div class="input-group mb-3">
                    <input id="newSellOrderPrice" type="number" class="form-control" value="50000">
                    <span class="input-group-text">€/BTC</span>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="tab-pane fade" id="pills-sell" role="tabpanel" aria-labelledby="pills-sell-tab">
            <form>
              <div class="row">
                <div class="col-6 mb-3">
                  <label for="newSellOrderAmount" class="form-label">Amount</label>
                  <div class="input-group mb-3">
                    <input id="newSellOrderAmount" type="number" class="form-control" value="0.000001">
                    <span class="input-group-text">BTC</span>
                  </div>
                </div>
                <div class="col-6 mb-3">
                  <label for="newSellOrderPrice" class="form-label">Price</label>
                  <div class="input-group mb-3">
                    <input id="newSellOrderPrice" type="number" class="form-control" value="50000">
                    <span class="input-group-text">€/BTC</span>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Create Order</button>
      </div>
    </div>
  </div>
</div>