<h2 style="margin-top: 30px; margin-bottom: 30px;">Welcome to YesFinance!</h2>
<p>The cryptocurrency platform that:</p>
<ul>
  <li>Aggregates every information about
    <b>cryptocurrencies</b> and its <b>markets</b> (price, variations, graphs...)
  </li>
  <li>Allows you to create a <b>portfolio</b> (or join one that already exists), where you can create <b>orders</b> to
    transact coins in a
    specific market</li>
  <li>You can install community developed <b>extensions</b> to boost up your portfolios in many different ways!</li>
</ul>
<p style="margin-bottom: 50px;">Start using it right now!</p>

<div col="row">
  <a routerLink="/coins" class="btn btn-primary col-4" style="margin-right: 10px">Explore the Coins <i
      class="fa fa-arrow-right"></i></a>
  <a routerLink="/markets" class="btn btn-primary col-4">Explore the Markets <i class="fa fa-arrow-right"></i></a>
</div>