<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"> {{ portfolio.name }} </h1>
    <div class="m-2 float-right" (click)="deletePortfolio()">
        <button type="submit" class="btn btn-warning btn-sm">
            <i class="fas fa-trash-alt"> </i> Delete Portfolio</button>
    </div>
</div>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <ul class="nav flex-column mb-2">
        <!-- <li class="nav-item" *ngFor="let wallet of wallets; let i = index" [attr.data-index]="i" id="wallet">
            <i class="icon fas fa-wallet"></i> {{ wallet.name }}
        </li> -->
    </ul>
</div>