<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"> {{ portfolio.name }} </h1>
    <div class="m-2 float-right">
        <a class="nav-link" routerLink="/">
            <button type=" button" class="btn btn-outline-danger" (click)="deletePortfolio()">
                Leave Portfolio
            </button>
        </a>
    </div>
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#main" type="button"
            role="tab" aria-controls="home" aria-selected="true">Main View</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#history" type="button"
            role="tab" aria-controls="profile" aria-selected="false">Historic</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#extensions" type="button"
            role="tab" aria-controls="profile" aria-selected="false">Extensions</button>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">

        <div class="col-12" style="display:flex;">
            <h4> Public key: </h4> <h4 style="margin-left: 10px"> {{ portfolio.public_key }} </h4>
        </div>

        <div class="col-12">
            <br>
            <h4>Portfolio</h4>
            <app-data-table [id]="'currencies'" [columns]="columns" [getData]="getData"></app-data-table>
        </div>

    </div>

    <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
        <div class="col-12">
            <br>
            <app-data-table [id]="'history'" [columns]="tcolumns" [getData]="getTransactions"></app-data-table>
        </div>

    </div>

    <div class="tab-pane fade" id="extensions" role="tabpanel" aria-labelledby="extensions-tab">

        <div class="list-group mt-4">

            <ul *ngFor="let extension of allExtensions;">
                <div class="d-flex align-items-center list-group-item list-group-item-action">
                    <div class="w-100">

                        <h5 class="mb-0">{{ extension.name }}</h5>
                        <p class="mb-0">{{ extension.description }}</p>
                        <small>By <b>{{ extension.user.username}}</b></small>
                    </div>

                    <div *ngIf="isInstalled(extension)">
                        <button class="btn btn-danger text-nowrap" (click)="deleteExtension(extension)"><i
                                class="fas fa-trash"></i></button>
                    </div>

                    <div *ngIf="!isInstalled(extension)">
                        <button class="btn btn-primary text-nowrap" (click)="addExtension(extension)"><i
                                class="fas fa-download"></i></button>
                    </div>
                </div>
            </ul>

        </div>

    </div>
</div>