<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"> {{ portfolio.name }} </h1>
    <h5> Public key: {{ portfolio.public_key }} </h5>
    <div class="m-2 float-right">
        <a class="nav-link" routerLink="/" routerLinkActive="active">
            <button type="button" class="btn btn-outline-danger" (click)="deletePortfolio()">
                Leave Portfolio
            </button>
        </a>
    </div>
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#main" type="button"
            role="tab" aria-controls="home" aria-selected="true">Main View</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#extensions" type="button"
            role="tab" aria-controls="profile" aria-selected="false">Extensions</button>
    </li>
</ul>
<!-- 
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">
        <div class="col-12">
            <h2>tabela e gráfico</h2>
            <app-data-table [columns]="columns" [getData]="getData"></app-data-table>
</div>


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <div style="display:flex">
        <h1 class="h2"> Portfolio details </h1>
        <h5>Public key: </h5>
        <p>{{ portfolio.public_key }} </p>
    </div>
    <div style="display:flex">
        <h5>Owner: </h5>
        <p>{{ portfolio.users[0].username }}</p>
    </div>
    <div style="display:flex">
        <ul *ngFor="let user of users;">
            <li>{{ user.username }}</li>
        </ul>
    </div>
</div> 
-->

<div class="tab-pane fade" id="extensions" role="tabpanel" aria-labelledby="extensions-tab">
    <div class="mt-4 col-sm-12 col-md-6 col-lg-4">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </form>
    </div>

    <div class="list-group mt-4">
        <div class="d-flex align-items-center list-group-item list-group-item-action">
            <div class="w-100">
                <h5 class="mb-0">Random Trades Bot</h5>
                <small>By <b>Someone</b></small>
                <p class="mb-1 mt-2">Make trades with literally no criterea.</p>
            </div>

            <div>
                <button class="btn btn-danger text-nowrap">Uninstall <i class="fas fa-trash"></i></button>
            </div>
        </div>

        <div class="d-flex align-items-center list-group-item list-group-item-action">
            <div class="w-100">
                <h5 class="mb-0">Random Trades Bot</h5>
                <small>By <b>Someone</b></small>
                <p class="mb-1 mt-2">Make trades with literally no criterea.</p>
            </div>

            <div>
                <button class="btn btn-primary text-nowrap">Install <i class="fas fa-download"></i></button>
            </div>
        </div>
    </div>

</div>