.op:hover {
    background-color: #f0ecec;
    cursor: pointer;
}

.op {
    width: 585px;
    background-color: white;
}

li.nav-item {
  font-size: medium;
}


*{
    box-sizing: border-box;
}

  .search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  .input-search{
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    padding-right: 40px;
    color:#fff;
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search::placeholder{
    color:#ffffff;
    font-size: 18px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
  }

  .input-search:focus{
    width: 600px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  
