<h3> search results...</h3>

<hr>

<div class="list-group mt-4">

    <h6>coins</h6>

    <div *ngFor="let coin of coins_data">
        <div class="d-flex align-items-center list-group-item list-group-item-action">
            <div class="w-100">
                <p class="mb-0">{{ coin.name }}</p>
            </div>
        </div>
    </div>

</div>

<hr>


<!-- <h5> </h5>
<app-data-table [columns]="columns" [getData]="getData"></app-data-table> -->
<!--
<div class="list-group mt-4">

    <h6>markets</h6>
    
    <ul *ngFor="let coin of coins_data">
        <div class="d-flex align-items-center list-group-item list-group-item-action">
            <div class="w-100">
                <p class="mb-0">{{ coin.name }}</p>
            </div>
        </div>
    </ul>

</div>
-->