.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100px;
    margin: 4px 2px;
}
  
.button1 {
    background-color: #04AA6D;
    border-radius: 50%;
    margin-left: 250px;
}

.button2 {
    background-color: red;
    border-radius: 50%;
}

.container {
    height: 800px;
    position: relative;
  
}
  
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}